<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add
                id="Dynamic_DynamicVideos::videos"
                title="Sambazon Dynamic Videos on Pages"
                module="Dynamic_DynamicVideos"
                sortOrder="90"
                parent="Dynamic_Footerbrand::parent"
                resource="Dynamic_DynamicVideos::dynamicvideos"
        />
		<add id="Dynamic_DynamicVideos::dynamicvideos" title="Dynamic Videos" module="Dynamic_DynamicVideos" sortOrder="2"  action="dynamicvideos/dynamicvideos" resource="Dynamic_DynamicVideos::dynamicvideos" parent="Dynamic_DynamicVideos::videos"/>

    </menu>
</config>