<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Dynamicdd_Dynamicvideos::parent" title="Dynamicvideos" module="Dynamicdd_Dynamicvideos" sortOrder="100" resource="Dynamicdd_Dynamicvideos::parent"/>
        <add id="Dynamicdd_Dynamicvideos::index" title="Dynamicvideos Index" module="Dynamicdd_Dynamicvideos" sortOrder="10" action="dynamicvideos/index" resource="Dynamicdd_Dynamicvideos::index" parent="Dynamicdd_Dynamicvideos::parent"/>
		<add id="Dynamicdd_Dynamicvideos::dynamiccvideos" title="Dynamicvideos Dynamiccvideos" module="Dynamicdd_Dynamicvideos" sortOrder="20" parent="Dynamicdd_Dynamicvideos::parent" action="dynamicvideos/dynamiccvideos" resource="Dynamicdd_Dynamicvideos::dynamiccvideos"/>

    </menu>
</config>